.responsabilidad-social {
    .pull-left {
        width:45%;
    }
    .pull-right {
        width:45%;
    }
    h1 {
        color:#454545;
        font:bold 16px/16px $open-sans;
        margin:0 0 10px 0;
    }
    p {
        color:#454545;
        font:13px/17px $open-sans;
        margin:0 0 20px 0;
    }   
}